<!DOCTYPE html>
<html>
  <head>
    <title>
      WendyT
    </title>
  </head>
  
  <body>
    <h1> <p> Welcome!</p>
    <p> About Wendy Tao :)</p> </h1>
    
    <h3> <p> Age: 18 </p>
    <p>Hometown: Guangzhou, China</p>
    <p>Fave Asian food: Dim Sum</p>
    <p>Why I did KWK: KWK empowers women to code and I am impressed by what the previous scholars . I have been intersted in computer science. While I'm planning to study computer science in school, I have been , Karlie Kloss, the founder of KWK, has been my inspiration for coding, fashion, and life. It is a perfect match to develop my coding skills and be closer to meet Karlie (and I did XD). It is an unique opportunities to meet amazing girls at my age and spend two weeks at New York City. </p>
    <p>I look up to my father when I grow up. My father is very smart and brave. He is very knowdglegeable on variety of topics, such as social studies, history, and economics. He is also very decisive and brave when making decisions. He decided to move to the United States three years ago for a different life for our family and he always wants a better future for me. While I am very grateful for everything he did, I want to become a person who is as intellegent and ambitious as he is.</p>
    <p>In terms of look, I look like my father more. For personalities, I am the mix of both.</p>
    <p>My grandfather is very important to me. When I was in elementary school, I went home for my two-hour lunch. He is the one who took care of me everyday for almost nine years</p></h3>
    
    
  </body>
</html>