<!DOCTYPE html>
<html>
  <head>
    <title>
      WendyT
    </title>
  </head>
  
  <body>
    <body bgcolor= black>
    <h1> <p> Welcome!</p>
    <p> About Wendy Tao :)</p> </h1>
    
    <h3> <p> Age: 18 </p>
    <p>Hometown: Guangzhou, China</p>
    <p>Fave Asian food: Dim Sum</p>
    <p>Why I did KWK: KWK empowers women to code and I have been intersted in computer science. It is an unique opportunities to meet amazing girls at my age and spend two weeks at New York City. In addition, Karlie Kloss, the founder of KWK, has been my inspiration for coding, fashion, and life. </p>
    <p>I look up to my father when I grow up. My father is very smart and brave. He is very knowdglegeable on variety of topics, such as social studies, history, and economics. He is also very decisive and brave when making decisions. He decided to move to the United States three years ago for a different life for our family and he alwaa better future for me.</p></h3>
    
    
  </body>
</html>