<!DOCTYPE html>
<html>
  <head>
    <title>
      WendyT
    </title>
  </head>
  
  <body>
    
    <h1> <p> Welcome!</p>
    <p> About Wendy Tao :)</p> </h1>
    
    <h3> <p> Age: 18 </p>
    <p>Hometown: Guangzhou, China</p>
    <p>Fave Asian food: Dim Sum</p>
    <p>Why I did KWK: KWK empowers women to code and I have been intersted in computer science. It is an unique opportunities to meet amazing girls at my age and spend two weeks at New York City. In addition, Karlie Kloss, the founder of KWK, has been my inspiration for coding, fashion, and life. </p>
    <p></p></h3>
    
    
  </body>
</html>